
<!--<div-->
<!--  style="display:flex;-->
<!--  align-items: center;-->
<!--  justify-content: center;-->
<!--  height: 100vh;-->
<!--">-->
<!--  <swiper-container loop='true' navigation="true" slides-per-view="3" speed="500" pagination="true" effect="card" grab-cursor="true">-->

<!--    <swiper-slide lazy="true"> <img src="./assets/155860.jpg" loading="lazy"/></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/2756.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/895.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/4931.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/31197.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/31198.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/31205.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/31215.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/31224.jpg" loading="lazy" /></swiper-slide>-->
<!--    <swiper-slide lazy="true"> <img src="./assets/31236.jpg" loading="lazy" /></swiper-slide>-->


<!--  </swiper-container>-->

<!--</div>-->





<div
  style="display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
">
  <swiper-container  effect="cards" grab-cursor="true" style="width: 300px">

    <swiper-slide lazy="true"> <img src="./assets/155860.jpg" loading="lazy"/></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/2756.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/895.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/4931.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/31197.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/31198.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/31205.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/31215.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/31224.jpg" loading="lazy" /></swiper-slide>
    <swiper-slide lazy="true"> <img src="./assets/31236.jpg" loading="lazy" /></swiper-slide>

  </swiper-container>

</div>
<h1>Hey</h1>
